# Build artifacts
build/
*.o
*.obj

# Output
*.vts
*.csv
*.vtk
*.vtu
*.gz

*.log
*.pvsm
run_*.log

# json files
data/*/DATA.json

# OS files
.DS_Store
Thumbs.db
*.swp
*~

# editor
.vscode/

# Octave history
.octave_hist

data/*/*.txt
